<h1>Settings</h1>
<% @settings.each do |setting| %>
	<div>
		<span class="lead" style="font-size: 11pt"><%= setting.name%></span>:
		<span class="lead" style="font-size: 11pt"><%= setting.active%></span>
		<%= link_to edit_setting_path(setting) do%>
			<i class="glyphicon glyphicon-pencil black"></i>
		<% end %>
		
		<%= render 'http_auth_info' %>
		
	</div>
<% end %>