<h2><%= @gallery.name %></h2>

<div class="galleria">
    <%= render @photos %>
</div>

<script>
    Galleria.loadTheme('#{Rails.root}/vendor/assets/libs/galleria/galleria-1.3.6.min.js');
    
    Galleria.run('.galleria');
</script>

<%= link_to 'Back to Galleries', galleries_path %>